[submodule ".vim/vundle"]
	path = .vim/vundle.git
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/plugged/.vim/plugged/vim-go"]
	path = .vim/plugged/.vim/plugged/vim-go
	url = https://github.com/fatih/vim-go
